PORT=tu_puerto
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_contraseña
POSTGRES_DB=tu_bd


JWT_SECRET=tu_secret_key
JWT_EXPIRES_IN=tu_limitr

GEMINI_API_KEY=tu_api_key_gemini
RESEND_API_KEY=tu_api_key_resend
FROM_EMAIL=tu_email_verificado
APP_URL=tu_app_url 

